body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 0.7em;
    color: #333; /* Mejorado para contraste */
}

#contenido {
    width: 60em;
    margin-top: 0em;
    margin-bottom: 3em;
    margin-left: auto; 
    margin-right: auto;
    text-align: left;  
}   

.t1{
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #757575; /* Mejorado para contraste */
    clear: both;
    text-align: right;
}

.t2{  
    font-size: 1.2em;
    font-weight: bold;
    color: #000; /* Mejorado para contraste */
    background-color: #FCCA00; /* Ajustado para mejor contraste */
    padding: 0.3em;
}

.t3{
    font-size: 1.2em;
    font-weight: bold;
    color: #000000; /* Este ya tiene buen contraste */
}

#logo{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 1em 2em 1em 2em;
    font-size: 1em;
}

#la{
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: #CC9900; /* Asegúrate de que este color tenga suficiente contraste con el fondo */
}

#aceitera{
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: #000; /* Buen contraste */
}

#lema{
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    font-style: italic;
    color: #666; /* Mejorado para contraste */
}

#tabla_compra {
    width: 60em;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 1em;
}

#tabla_compra td{
    padding: 0.5em;
}

#conceptos td{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

#total td{
    padding-top: 0.5em;
    border-top: 1px solid #ccc;
}

#info_en{
    font-size: 0.9em;
    text-align: right;
}

.info{
    color: #000;   
    background-color: #EEF6FF; /* Asegúrate de que el contraste sea suficiente */
    border: 1px solid #0B639A;
    padding: 0.5em;
    margin: 0em 0.5em 0em 0.5em;
}

.i{
    color: #fff;
    background-color: #039;      
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.1em 0.6em 0.1em 0.6em;
    margin-right: 0.6em;
}

.obligatorio{
    color: #c00; /* Buen contraste */
}

#pie{
    border-top: 3px solid #ccc;
    padding: 1em;
    text-align: center;
}
